<div class="block-header clearfix">
    <span class="pull-right">
      <span uib-dropdown>
        <a href id="simple-dropdown" uib-dropdown-toggle>Layout: {{layouts[data.attributes.layout].label}}</a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="(key, value) in layouts">
            <a ng-click="changeLayout(key)">{{key == 'fluid' ? 'Remove Layout (Fluid)' : value.label}}</a>
          </li>
        </ul>
      </span>
      <a ng-if="blockIndex !== 0" ng-click="moveUp()">&#9650;</a>
      <a ng-if="blockIndex !== blockCount - 1" ng-click="moveDown()">&#9660;</a>
      <a ng-click="remove()">X</a>
    </span>
</div>
<div ng-if="layout.maxColumns && layout.maxColumns < data.columns.length" class="alert alert-danger">This layout has a column limit of {{layout.maxColumns}}, the column count is {{data.columns.length}}, switch to a {{data.columns.length}} column layout</div>
<div class="block-body">
  <div ng-class="getColumnClasses($index)" ng-repeat="column in data.columns track by $index">
    <div class="stamp-component-wrapper component-{{$index}}" ng-repeat="component in column.components track by $index">
      <stamp-component data="component" col-index="$parent.$index" com-index="$index" com-count="column.components.length"></stamp-component>
    </div>
    <div ng-if="!parent.locked && !parent.readOnly">
      <input ng-if="column.components.length == 0" class="btn btn-warning btn-lg center-block" type="button" ng-click="removeColumn($index)" value="Remove Column"></input>
      <input class="btn btn-default btn-lg center-block" type="button" ng-click="addComponent($parent.$index)" value="+ Component"></input>
    </div>
  </div>
  <!-- enable this instead of the below option when you've added the ability to add no middle column if 3 are missing on a 3 col layout <div ng-if="emptyColumnCount().length > 0" ng-class="getColumnClasses($index, true)" ng-repeat="emptyColumn in emptyColumnCount() track by $index">
    <div ng-if="!parent.locked && !parent.readOnly"><input class="btn btn-default btn-lg center-block" type="button" ng-click="addColumn($index)" value="+ Column"></input></div>
  </div>-->
  <div ng-if="!parent.locked && !parent.readOnly && (emptyColumnCount().length > 0  && data.attributes.layout != 'fluid' || data.attributes.layout == 'fluid' && data.columns.length == 0)" ng-class="getColumnClasses(0, true)">
    <input class="btn btn-default btn-lg center-block" type="button" ng-click="addColumn()" value="+ Column"></input>
  </div>
</div>