/* fix custom component content wrapping */
stamp-editor,
stamp-editor stamp-block,
stamp-editor stamp-block stamp-component {
	display: block;
}

/* block - hover uses class as children hovers shouldn't trigger style change */
stamp-editor .stamp-block-wrapper {
  padding-bottom: 5px;
}
stamp-editor stamp-block {
  border: 1px solid #EEEEEE;
  padding: 15px 15px;
}
stamp-editor stamp-block .block-body {
  padding: 25px 2px !important; /* remove bootstrap row padding, add small spacing for block header and bottom */
}
stamp-editor stamp-block:hover {
  border: 1px solid #CCC;
}

/* component wrapper */
stamp-editor .stamp-component-wrapper {
    border: 1px dashed #F4F0F0;
    margin: 0 0 10px 0;
		position: relative; /* as header is absolute */
}
stamp-editor stamp-component {
	padding: 7px;
}
/* restyling bootstrap coloring to help hover effects */
stamp-editor .form-control {
	border-color: #FEFEFE;
}
stamp-editor .btn-default {
	border-color: #FEFEFE;
  color: #ccc;
  /* Match button styling */
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* component controls base styles (inc hover effects) */
stamp-editor .stamp-component-wrapper .component-header {
	opacity: 0;
	height: 0;

	/* Positions the header bar correctly above the body */
	position: absolute;
  width: 100%;
  top: 0px;
	left: 0;    
	outline: 1px solid rgba(0, 125, 212, 0.8);
  background-color: rgba(0, 125, 212, 0.8);
	z-index:100;
}
stamp-editor .stamp-component-wrapper:hover .component-header {
	opacity: 1;
	height: 22px;
	top: -22px;
}
stamp-editor .stamp-component-wrapper:hover {
	border: 1px dashed rgba(0, 125, 212, 0.8);
	border-top-color: rgba(0, 125, 212, 0);
}
stamp-editor .stamp-component-wrapper:hover .form-control,
stamp-editor .stamp-component-wrapper:hover .btn-default {
	border-color: #CCC;
	color: #000;
}

/* textarea base setup */
stamp-editor textarea {
	resize: vertical; /* user can resize vertically, but width is fixed */
	height:auto;

	transition: height 2s ease;
}

/* heading component styling */
stamp-editor stamp-component stamp-heading-component .size-h1 input,
stamp-editor stamp-component stamp-heading-component .size-h1 button {
	height: 52px;
	font-size: 22px;
}
stamp-editor stamp-component stamp-heading-component .size-h2 input,
stamp-editor stamp-component stamp-heading-component .size-h2 button {
	height: 40px;
	font-size: 18px;
}
stamp-editor stamp-component stamp-heading-component .size-h3 input,
stamp-editor stamp-component stamp-heading-component .size-h3 button {
	height: 35px;
	font-size: 15px;
}

/* Keeping it generic from image component to make it resuable later */
stamp-editor stamp-component .edit-overlay {
    width: 100%;
    padding: 5px;
    position: absolute;
    border: 1px solid #a9a9a9;
    color: #fff;
    background-color: rgba(119, 118, 118, 0.92);
    z-index: 99;
}
stamp-editor stamp-component .component-body:before, stamp-editor stamp-component .component-body:after,
stamp-editor stamp-component .edit-mode:before, stamp-editor stamp-component .edit-mode:after {
	display: table;
	content: '';  
	clear: both;
}

stamp-editor stamp-component .width-25 { width: 25%; }
stamp-editor stamp-component .width-50 { width: 50%; }
stamp-editor stamp-component .width-75 { width: 75%; }
stamp-editor stamp-component .width-100 { width: 100%; }

/* Reduce the min height of TA */
stamp-editor .ta-editor.ta-html, 
stamp-editor .ta-scroll-window > .ta-bind,
stamp-editor .ta-scroll-window.form-control {
	min-height: 100px;
	height: auto;
	overflow: auto;
	font-family: inherit;
	font-size: 100%;
}